@media (max-width: 640px) {
    body._active {

        .background_dark {
            display: block;
        }

        .header {

            .logo {
                &__image_header {
                    display: none;
                }
                &__image_orange {
                    display: block;
                }
            }

            &__title {
                color: #FE9013;
            }

            &__logo {
                border: 1px solid #FE9013;
            }
            &__menu {
                right: 0;
            }

            .burger {
                &::before, &::after {
                    background-color: #333B41;
                    width: 80%;
                }
    
                &::before {
                    top: 50%;
                    transform: rotate(-45deg) translate(5%, -50%);
                    
                }
    
                &::after {
                    bottom: 50%;
                    transform: rotate(45deg) translate(5%, 50%);
                }
    
                span {
                    display: none;
                }
            }
        }
    }

    .header {
        &__menu {
            position: fixed;
            right: -100%;
            top: 0;
            width: 100%;
            padding: 80px 0 40px 15px;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 0;
            background-color: #fff;
            transition: right 0.2s ease;
        }
        .menu {
            &__list {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                margin-bottom: 15px;
            }

            &__item {
                margin-right: 0;
            }

            &__link {
                color: #333B41;
                &_active {
                    color: #333B41
                };
            }
            &__copy {
                color: #333B41;
            }
        }
    }

    
    .burger {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 30;

        &::before, &::after, & span {
            position: absolute;
            left: 0;
            height: 18%;
            width: 100%;
            transition: all 0.3s ease;
            background-color: #fff;
        }

        &::before, &::after {
            content: '';
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        & span {
            top: 50%;
            transform: scale(1) translate(0, -50%);
        }

    }

    .logo {
        &__image_header {
            width: 7.1px;
            height: 17.56px;
            left: 12px;
            top: 20px;
        }
    }

    .header__title {
            font-size: 16px;
    }

    .header {
        position: fixed;
        &__container {
            justify-content: space-between;
            min-height: 60px;
            flex-wrap: wrap;
        }
        &__logo {
            border: none;
            width: 70px;
            height: 40px;
            position: relative;
            z-index: 30;
        }
    }

    .page__background {
        background-image: url("../../img/background_panda_tablet.jpg");
    }


    .pick-and-feed {

        padding: 30px 0 46px 0;

        &__tagline {
            font-size: 24px;
            line-height: 120%;
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 30px;
        }

        &__title {
            margin-bottom: 20px;
        }
    }

    .donate {
        padding: 36px 27px 25px 27px;

        &__subtitle {
            margin-bottom: 50px;
            text-align: center;
        }

        &__panda {
            margin-bottom: 41px;
        }

        &__amount {
            margin-bottom: 0;
        };
    }

    .panda {
        width: 100%;
    }

    .footer {
        padding-bottom: 10px;
        &__container {
            position: relative;
            padding-left: 15px;
        }
        &__form {
            display: none;
        }
        &__header {
            justify-content: space-between;
            margin-bottom: 42px;
        }
        &__button {
            position: absolute;
            top: 84px;
            left: 15px;
            margin-bottom: 0;
        }

        &__socials {
            display: none;
        }

        &__menu {
            margin-left: 0;

            .menu__item {
                margin-right: 20px;
            }
        }
    }



    .socials-mobile {
        display: block;
        &__item {
            height: 26px;
            width: 26px;
            padding-left: 0;
            margin-bottom: 20px;
            &::before {
                top: 0;
            }
        }
    }
}

@media (max-width: 634px) {
    .panda {
        width: 80%;

        &__count {
            padding-top: 15%;
        }

        &__multiply {
            margin-right: 5%;
            padding-top: 30%;
        }
    }
    .progress {
        width: 100%;

        &__bar {
            &::after {
                width: 90%;
                left: 6%;
            }
        }
    }
} 

@media (max-width: 486px) {
    .progress {
        width: 100%;

        &__bar {
            &::after {
                width: 88%;
                left: 6%;
            }
        }
    }
} 

@media (max-width: 450px) {

    .pick-and-feed {
        padding: 30px 0 20px 0;

        &__title {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }

    .donate {
        padding: 20px 0 20px 0;

        &__title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 140%;
            margin-bottom: 10px;
        }
    }

    .panda {
        width: 100%;
        justify-content: center;
        margin-bottom: 0;

        &__number {
            font-size: 40px;
            margin-bottom: 6px;
        }

        &__label {
            font-size: 10px;
            line-height: 140%;
        }

        &__multiply {
            padding-top: 20%;
        }
        &__image {
            width: 160px;
            height: 141px;
        }
    }
    .progress {
        width: 100%;

        &__bar {
            &::after {
                width: 84%;
                left: 10%;
            }
        }
    }
} 

