//Import Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);

//Import Reset Styles file
@import "../reset";

//Main 
body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    background-color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1160px;
    margin: 0 auto;
}

.title {
    font-family: 'Roboto';
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    display: inline-block;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    position: relative;

    &__image {
        position: absolute;
        width: 14.81px;
        height: 22.58px;
        left: 8px;
        top: 18.64px;
    }
}

.copy {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color:#F9804B;
        text-decoration: none;
    }
}

.button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
    border-radius: 25px;
    min-height: 54px;
    width: 298px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
        background: #E47209;
    }

    &:active {
        background: #4B9200;
    }


    &_square {
        border-radius: 5px;
    }
}

//========HEADER===========================================================
.header {
    width: 100%;
    left: 0px;
    top: 0px;
    background: #000000;

    &__container {
        display: flex;
        min-height: 80px;
        align-items: center;
    }

    &__logo {
    }

    &__menu {
        margin-left: 63px;
    }

    &__copy {
        margin-left: 438px;
    }
}

.menu {

    &__list {
        display: flex;

    }

    &__item {
        margin-right: 58px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        color: #FFFFFF;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            color:#F9804B;
            text-decoration: none;
        }

        &_active {
            color:#F9804B;
            &:hover {
                text-decoration: none;
            }
        }
    }
}


//=====MAIN==============

.page__background {
    background-image: url(../../img/background_panda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
    width: 100%;
}

.page {

    &__background {
    }

    &__pick-and-feed {
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        opacity: 0.9;
    }
}
.pick-and-feed {

    padding: 40px 0 180px 0;

    &__container {
        
    }

    &__tagline {
        font-size: 36px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    &__text {
        color: #FFFFFF;
        margin-bottom: 40px;
    }

    &__donate {
        
    }

    &__title {
        font-size: 36px;
        line-height: 130%;
        color: #FE9013;
        margin-bottom: 40px;
    }
}

//============DONATE================

.donate {

    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    padding: 49px 92px 59px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        color: #FE9013;
        margin-bottom: 20px;
    }

    &__subtitle {
        align-self: flex-start;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 60px;
    }

    &__panda {
        margin-bottom: 48px;
    }

    &__amount {
        align-self: flex-start;
        margin-bottom: 16px;
    }

    &__bar {
        margin-bottom: 50px;
    }

    &__form {
        margin-bottom: 30px;
    }

    &__button {
        margin-bottom: 30px;
    }

    &__footer-text {
    }
}
.panda {
    display: flex;

    &__count {
        padding-top: 105px;
        margin-right: 11px;
    }

    &__number {
        font-size: 72px;
        line-height: 80%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 15px;
    }

    &__label {
    }

    &__multiply {
        padding-top: 130px;
        margin-right: 64px;
    }

    &__image {
    }
}

.progress {
    width: 100%;
    position: relative;
    &__bg {
        position: absolute;
        display: flex;
        width: 100%;
        height: 27px;
        background-color: #333b41;
        top: 6px;
        left: 0;
        z-index: 1;
    }
    
    &__bar {
        width: 100%;
        justify-content: space-between;
        position: relative;
        z-index: 20;
        display: flex;

        &::after {
            content: '';
            position: absolute;
            top: 22%;
            left: 4%;
            width: 93.75%;
            height: 2px;
            background: #72828E;
            z-index: -1;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    &__dot-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;

        &:hover {
            background: url(/img/roller_icon.svg) no-repeat center;
        }
        &:hover + .progress__sub-item {
            color: #FE9013;
        }
    }
    &__dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #FFEE2E;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__sub-item {
        font-weight: 500;
        font-size: 26px;
        line-height: 140%;
        text-transform: uppercase;
        color: #333B41;
    }
}

.donate-form {

    &__amount {
        width: 268px;;
        display: block;
        border: 1px solid #929699;
        border-radius: 2px;
        padding: 16px 0 16px 9px;
        margin-bottom: 25px;
    }

    &__option {
        display: flex;
        justify-content: space-around;

        & input {
            border: 1px solid #FE9013;
        }
    }
}




//==============FOOTER============
.footer {

    background: #111115;
    max-height: 443px;
    padding: 41px 0 50px 0;

    &__container {
    }

    &__header {
        display: flex;
        margin-bottom: 36px;
    }

    &__logo {
    }

    &__form {
        margin-left: 711px;
        flex: 1 1 auto;
    }

    &__button {
        margin-bottom: 44px;
    }

    &__footer {
        display: flex;
        align-items: flex-end;
    }

    &__socials {
    }

    &__menu {
        flex: 1 1 auto;
        margin-left: 298px;
    }

    &__info {
        flex: 0 1 230px;
        display: inline-block;
        line-height: 130%;
        /* identical to box height, or 21px */
        color: #FFFFFF;
        cursor: pointer;
        &:hover {
            color: #4B9200;
            text-decoration: underline;
        }
    }

    &__designby {
        display: inline-block;
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 10px;

    }

    &__copy {
        display: inline-block;
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 0;
    }
}

.subscribe {
    
    &__title {
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 14px;
    }

    &__form {
        display: flex;
    }

    &__email {
        display: block;
        flex: 0 1 228px;
        padding: 10px 0 10px 10px;
        border: 0.7px solid rgba(249, 128, 75, 1);
        border-radius: 2px;
        background: #FFFFFF;

        &:invalid + .subscribe__button {
            border: 0.7px solid red;
            color: red;
        }
        &:valid + .subscribe__button {
            border: 1px solid rgba(51, 59, 65, 1);
            color: #000000
        }
    }

    &__button {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(51, 59, 65, 1);
        border-radius: 5px;
        margin-left: 10px;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        background: #F1F3F2;
    }
}


.socials {



    &__list {
    }

    &__item {
        position: relative;
        padding-left: 38px;
        margin-bottom: 13px;
        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: '';
            width: 26px;
            height: 26px;
            background: rgba(196, 196, 196, 0.5);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: 0;
            top: -4px;
        }

        &_facebook::before {
            background-image: url(../../img/facebook.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_twitter::before {
            background-image: url(../../img/twitter.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_instagram::before {
            background-image: url(../../img/insta.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_youtube::before {
            background-image: url(../../img/youtube.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        
    }

    &__link {
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;

        &:hover {
            text-decoration: underline;
            color: #4B9200;
        }
    }
}


