//Import Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);

//Import Reset Styles file
@import "../reset";

//Main 
body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    background-color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1160px;
    margin: 0 auto;
}

h1 {
    font-family: 'Roboto';
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    display: inline-block;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    position: relative;

    &__image {
        position: absolute;
        width: 14.81px;
        height: 22.58px;
        left: 8px;
        top: 18.64px;
    }
}

.copy {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF
}

.button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    min-height: 54px;
    width: 298px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &_square {
        border-radius: 5px;
    }
}

//========HEADER===========================================================
.header {
    width: 100%;
    left: 0px;
    top: 0px;
    background: #000000;

    &__container {
        display: flex;
        min-height: 80px;
        align-items: center;
    }

    &__logo {
    }

    &__menu {
        margin-left: 63px;
    }

    &__copy {
        margin-left: 438px;
    }
}

.menu {

    &__list {
        display: flex;

    }

    &__item {
        margin-right: 58px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        color: #FFFFFF;

        &_active {
            color:#F9804B;
        }
    }
}


//=====MAIN==============

.page__background {
    background-image: url(../../img/background_panda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
    width: 100%;
}


//==============FOOTER============
.footer {

    background: #111115;
    max-height: 443px;
    padding: 41px 0 50px 0;

    &__container {
    }

    &__header {
        display: flex;
        margin-bottom: 36px;
    }

    &__logo {
    }

    &__form {
        margin-left: 711px;
        flex: 1 1 auto;
    }

    &__button {
        margin-bottom: 44px;
    }

    &__footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__socials {
    }

    &__menu {
        margin-left: 298px;
    }

    &__info {
        margin-left: 160px;
        line-height: 130%;
        /* identical to box height, or 21px */
        color: #FFFFFF;
    }

    &__designby {
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 10px;

    }

    &__copy {
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 0;
    }
}

.subscribe {
    
    &__title {
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 14px;
    }

    &__form {
        display: flex;
    }

    &__email {
        flex: 0 1 228px;
        padding: 10px 0 10px 10px;
        border: 0.7px solid rgba(249, 128, 75, 1);
        border-radius: 2px;
        background: #FFFFFF;
    }

    &__button {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F1F3F2;
        border: 1px solid rgba(51, 59, 65, 1);
        border-radius: 5px;
        margin-left: 10px;
        font-size: 16px;
        line-height: 140%;
        color: #000000;;
    }
}

.socials {



    &__list {
    }

    &__item {
        position: relative;
        padding-left: 38px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: '';
            width: 26px;
            height: 26px;
            background: rgba(196, 196, 196, 0.5);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: 0;
            top: -4px;
        }

        &_facebook::before {
            background-image: url(../../img/facebook.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_twitter::before {
            background-image: url(../../img/twitter.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_instagram::before {
            background-image: url(../../img/insta.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_youtube::before {
            background-image: url(../../img/youtube.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        
    }

    &__link {
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }
}


