@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  background-color: #FFFFFF;
}
body._active {
  overflow: hidden;
}

.background_dark {
  display: none;
  width: 100%;
  height: 4000px;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 20;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: "Roboto";
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.logo {
  display: inline-block;
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
}
.logo__image {
  position: absolute;
  width: 14.81px;
  height: 22.58px;
  left: 8px;
  top: 18.64px;
}
.logo__image_orange {
  display: none;
}

.copy {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.copy:hover {
  text-decoration: underline;
}
.copy:active {
  color: #F9804B;
  text-decoration: none;
}

.button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  min-height: 54px;
  width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button:hover {
  background: #E47209;
}
.button:active {
  background: #4B9200;
}
.button_square {
  border-radius: 5px;
}

.header {
  width: 100%;
  left: 0px;
  top: 0px;
  background: #000000;
  position: relative;
  z-index: 22;
}
.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
}
.header__menu {
  margin-left: 63px;
}

.menu {
  display: flex;
  flex: 0 1 1021px;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 58px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link:active {
  color: #F9804B;
  text-decoration: none;
}
.menu__link_active {
  color: #F9804B;
}
.menu__link_active:hover {
  text-decoration: none;
}

.page__background {
  background-image: url(../../img/background_panda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
  width: 100%;
}

.page__pick-and-feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.pick-and-feed {
  padding: 40px 0 180px 0;
}
.pick-and-feed__tagline {
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.pick-and-feed__text {
  color: #FFFFFF;
  margin-bottom: 40px;
}
.pick-and-feed__title {
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  margin-bottom: 40px;
}

.donate {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding: 49px 92px 59px 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate__title {
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin-bottom: 20px;
}
.donate__subtitle {
  align-self: flex-start;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 60px;
}
.donate__panda {
  margin-bottom: 48px;
}
.donate__amount {
  align-self: flex-start;
  margin-bottom: 16px;
}
.donate__bar {
  margin-bottom: 50px;
}
.donate__form {
  margin-bottom: 30px;
}
.donate__button {
  margin-bottom: 30px;
}
.panda {
  display: flex;
}
.panda__count {
  padding-top: 105px;
  margin-right: 11px;
}
.panda__number {
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}
.panda__multiply {
  padding-top: 130px;
  margin-right: 64px;
}
.progress {
  width: 100%;
  position: relative;
}
.progress__bg {
  position: absolute;
  display: flex;
  width: 100%;
  height: 27px;
  background-color: #333b41;
  top: 6px;
  left: 0;
  z-index: 1;
}
.progress__bar {
  width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  display: flex;
}
.progress__bar::after {
  content: "";
  position: absolute;
  top: 22%;
  left: 4%;
  width: 93.75%;
  height: 2px;
  background: #72828E;
  z-index: -1;
}
.progress__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progress__dot-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.progress__dot-container:hover {
  background: url(/img/roller_icon.svg) no-repeat center;
}
.progress__dot-container:hover + .progress__sub-item {
  color: #FE9013;
}
.progress__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFEE2E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress__sub-item {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333B41;
}

.donate-form__amount {
  width: 268px;
  display: block;
  border: 1px solid #929699;
  border-radius: 2px;
  padding: 16px 0 16px 9px;
  margin-bottom: 25px;
}
.donate-form__option {
  display: flex;
  justify-content: space-around;
}
.donate-form__option input {
  border: 1px solid #FE9013;
}

.footer {
  background: #111115;
  max-height: 443px;
  padding: 41px 0 50px 0;
}
.footer__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.footer__form {
  flex: 0 1 367px;
}
.footer__button {
  margin-bottom: 44px;
}
.footer__footer {
  display: flex;
  align-items: flex-end;
}
.footer__menu {
  flex: 1 1 380px;
  margin-left: 298px;
}
.footer__info {
  flex: 0 1 230px;
  display: inline-block;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 5px;
}
.footer__info:hover {
  color: #4B9200;
  text-decoration: underline;
}
.footer__designby {
  display: inline-block;
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 10px;
}
.footer__copy {
  display: inline-block;
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 0;
}

.subscribe__title {
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.subscribe__form {
  display: flex;
}
.subscribe__email {
  display: block;
  flex: 0 1 228px;
  padding: 10px 0 10px 10px;
  border: 0.7px solid rgb(249, 128, 75);
  border-radius: 2px;
  background: #FFFFFF;
}
.subscribe__email:invalid + .subscribe__button {
  border: 0.7px solid red;
  color: red;
}
.subscribe__email:valid + .subscribe__button {
  border: 1px solid rgb(51, 59, 65);
  color: #000000;
}
.subscribe__button {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(51, 59, 65);
  border-radius: 5px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  background: #F1F3F2;
}

.socials__item {
  position: relative;
  padding-left: 38px;
  margin-bottom: 13px;
}
.socials__item:last-child {
  margin-bottom: 0;
}
.socials__item::before {
  content: "";
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -4px;
}
.socials__item_facebook::before {
  background-image: url(../../img/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__item_twitter::before {
  background-image: url(../../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__item_instagram::before {
  background-image: url(../../img/insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__item_youtube::before {
  background-image: url(../../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__link {
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.socials__link:hover {
  text-decoration: underline;
  color: #4B9200;
}

.socials-mobile {
  display: none;
}

@media (max-width: 1000px) {
  ._container {
    max-width: 970px;
  }
  .page__background {
    background-image: url("/img/background_panda_small.png");
  }
  .menu__item {
    margin-right: 48px;
  }
  .footer__container {
    padding-left: 30px;
  }
  .footer__footer {
    justify-content: space-between;
  }
  .footer__menu {
    flex: 0 1 380px;
    margin-left: 15%;
  }
  .subscribe__button {
    flex: 0 1 129px;
  }
}
@media (max-width: 905px) {
  .footer__menu {
    margin-left: 5%;
  }
}
@media (max-width: 740px) {
  .header__menu {
    margin-left: 40px;
  }
  .menu__item {
    margin-right: 30px;
  }
}
@media (max-width: 640px) {
  body._active .background_dark {
    display: block;
  }
  body._active .header .logo__image_header {
    display: none;
  }
  body._active .header .logo__image_orange {
    display: block;
  }
  body._active .header__title {
    color: #FE9013;
  }
  body._active .header__logo {
    border: 1px solid #FE9013;
  }
  body._active .header__menu {
    right: 0;
  }
  body._active .header .burger::before, body._active .header .burger::after {
    background-color: #333B41;
    width: 80%;
  }
  body._active .header .burger::before {
    top: 50%;
    transform: rotate(-45deg) translate(5%, -50%);
  }
  body._active .header .burger::after {
    bottom: 50%;
    transform: rotate(45deg) translate(5%, 50%);
  }
  body._active .header .burger span {
    display: none;
  }
  .header__menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    padding: 80px 0 40px 15px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    background-color: #fff;
    transition: right 0.2s ease;
  }
  .header .menu__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
  }
  .header .menu__item {
    margin-right: 0;
  }
  .header .menu__link {
    color: #333B41;
  }
  .header .menu__link_active {
    color: #333B41;
  }
  .header .menu__copy {
    color: #333B41;
  }
  .burger {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 30;
  }
  .burger::before, .burger::after, .burger span {
    position: absolute;
    left: 0;
    height: 18%;
    width: 100%;
    transition: all 0.3s ease;
    background-color: #fff;
  }
  .burger::before, .burger::after {
    content: "";
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .logo__image_header {
    width: 7.1px;
    height: 17.56px;
    left: 12px;
    top: 20px;
  }
  .header__title {
    font-size: 16px;
  }
  .header {
    position: fixed;
  }
  .header__container {
    justify-content: space-between;
    min-height: 60px;
    flex-wrap: wrap;
  }
  .header__logo {
    border: none;
    width: 70px;
    height: 40px;
    position: relative;
    z-index: 30;
  }
  .page__background {
    background-image: url("/img/background_panda_tablet.jpg");
  }
  .footer {
    padding-bottom: 10px;
  }
  .footer__container {
    position: relative;
    padding-left: 15px;
  }
  .footer__form {
    display: none;
  }
  .footer__header {
    justify-content: space-between;
    margin-bottom: 42px;
  }
  .footer__button {
    position: absolute;
    top: 84px;
    left: 15px;
    margin-bottom: 0;
  }
  .footer__socials {
    display: none;
  }
  .footer__menu {
    margin-left: 0;
  }
  .footer__menu .menu__item {
    margin-right: 20px;
  }
  .socials-mobile {
    display: block;
  }
  .socials-mobile__item {
    height: 26px;
    width: 26px;
    padding-left: 0;
    margin-bottom: 20px;
  }
  .socials-mobile__item::before {
    top: 0;
  }
}
@media (max-width: 350px) {
  .page__background {
    background-image: url("/img/background_panda_mobile.jpg");
  }
  .footer {
    padding: 20px 0 20px 0;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
  }
  .footer__header .socials-mobile .socials__list {
    display: flex;
    gap: 30px;
  }
  .footer__header .socials-mobile__item {
    margin-bottom: 0;
  }
  .footer__header .logo {
    border: none;
    width: 130px;
    height: 25px;
  }
  .footer__header .logo__image {
    left: 73px;
    top: -5px;
  }
  .footer__button {
    position: static;
    margin-bottom: 30px;
  }
  .footer__footer {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .footer__footer .footer__info {
    flex: auto;
    max-width: 230px;
    align-self: flex-end;
    margin-left: 0;
  }
  .footer__footer .footer__menu {
    flex: auto;
    align-self: center;
  }
  .footer__footer .footer__menu .menu__item {
    margin-right: 30px;
  }
  .footer__footer .footer__menu .menu__item:last-child {
    margin-right: 0;
  }
}