@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  background-color: #FFFFFF;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1160px;
  margin: 0 auto;
}

.title {
  font-family: "Roboto";
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.logo {
  display: inline-block;
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
}
.logo__image {
  position: absolute;
  width: 14.81px;
  height: 22.58px;
  left: 8px;
  top: 18.64px;
}

.copy {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
}

.header {
  width: 100%;
  left: 0px;
  top: 0px;
  background: #000000;
}
.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
}
.header__menu {
  margin-left: 63px;
}
.header__copy {
  margin-left: 438px;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin-right: 58px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link_active {
  color: #F9804B;
}
.menu__link_active:hover {
  text-decoration: none;
}

.main-block {
  background-image: url("/sh4kh-JSFE2022Q3/online-zoo/img/background_panda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-block__content {
  padding-top: 86px;
  margin-left: 648px;
  padding-bottom: 100px;
  width: 531px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-block__title {
  position: relative;
  text-align: center;
}
.main-block__title::before {
  content: "";
  position: absolute;
  width: 465px;
  height: 465px;
  top: -76px;
  left: -70px;
  border-radius: 50%;
  /* orange */
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.main-block__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  /* or 80px */
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 10;
}
.main-block__text span {
  color: #FFEE2E;
}
.main-block__button {
  margin-top: 60px;
}

.button {
  background: orange;
  border-radius: 25px;
  min-height: 54px;
  width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button:hover {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  transition: background-color 0.5s linear;
}
.button_square {
  border-radius: 5px;
}

.backstage {
  position: relative;
}
.backstage__flower {
  position: absolute;
  right: 0;
  top: 0;
}
.backstage__container {
  padding-top: 140px;
  padding-bottom: 180px;
  display: flex;
}
.backstage__img {
  flex: 0 0 609px;
}
.backstage__content {
  flex: 1 1 auto;
  margin-left: 87px;
  color: #333B41;
}
.backstage__title {
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20px;
}
.backstage__text {
  font-size: 16px;
  line-height: 130%;
}
.backstage__subtitle {
  font-size: 24px;
  line-height: 120%;
  margin: 54px 0 34px 0;
}
.animals__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  position: relative;
}
.animals__row::before {
  content: "";
  position: absolute;
  left: -82px;
  top: 350px;
  width: 62px;
  height: 62px;
  background-color: orange;
  background-image: url(../../img/left_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}
.animals__row::after {
  content: "";
  position: absolute;
  right: -82px;
  top: 350px;
  width: 62px;
  height: 62px;
  background-color: orange;
  border-radius: 50%;
  background-image: url(../../img/right__arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.animals__column {
  padding: 0 15px;
  flex: 0 1 33.333%;
  margin-bottom: 20px;
}
.animals__item {
  border: 1px solid #FA6F32;
  border-radius: 5px;
}
.animals__button {
  margin: 80px auto 100px auto;
}

.animal {
  position: relative;
}
.animal:hover .animal__info {
  opacity: 1;
}
.animal:hover .animal__image_bg {
  opacity: 1;
}
.animal__image {
  position: relative;
  overflow: hidden;
}
.animal__image_bg {
  height: 302.66px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.379);
  z-index: 1;
  opacity: 0;
}
.animal__image:hover img {
  transform: scale(1.1);
  transition: 200ms linear;
}
.animal__info {
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px 13px 16px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.animal__text {
  color: #000000;
}
.animal__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-transform: uppercase;
}
.animal__home {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.page__pick-and-feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.pick-and-feed {
  padding: 69px 0 100px 0;
}
.pick-and-feed__container {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding: 49px 0 59px 0;
  text-align: center;
}
.pick-and-feed__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  color: #FE9013;
  margin-bottom: 30px;
  text-align: center;
}
.pick-and-feed__subtitle {
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  color: #333B41;
  margin-bottom: 40px;
  margin-left: 99px;
  text-align: left;
}
.pick-and-feed__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  color: #333B41;
  margin-left: 99px;
  margin-bottom: 10px;
  text-align: left;
}
.pick-and-feed__text a {
  color: inherit;
  text-decoration: underline;
}
.pick-and-feed__text:last-child {
  margin-bottom: 0;
}
.pick-and-feed__how {
  margin: 60px 198px;
}
.pick-and-feed__button {
  margin: 0 auto;
}

.how__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  color: #333B41;
  margin-bottom: 40px;
}
.how__row {
  display: flex;
  align-self: center;
}
.how__column {
  flex: 1 1 20%;
}
.how__image {
  height: 168px;
  border: 1px solid #F9804B;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how__text {
  text-align: left;
}
.how__arrow {
  padding-top: 67px;
}

.testimonials {
  position: relative;
  padding: 140px 0 180px 0;
}
.testimonials__title {
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  text-align: center;
  color: #333B41;
  margin-bottom: 47px;
}
.testimonials__row {
  display: flex;
  margin: 0 -15px;
}
.testimonials__column {
  flex: 1 1 25%;
  padding: 0 15px;
}
.testimonials__item {
  background: #F1F3F2;
  border-radius: 20px;
  border: 2px solid rgba(254, 189, 171, 0.74);
  padding: 15px;
}
.testimonials__leaf {
  position: absolute;
  right: 0;
  bottom: -100px;
}

.comment {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}
.comment__header {
  display: flex;
  margin-bottom: 10px;
}
.comment__logo {
  flex: 0 0 37px;
}
.comment__title {
  margin-left: 10px;
  flex: 1 1 auto;
}
.comment__name {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #000000;
}
.comment__subtitle {
  display: flex;
  justify-content: start;
}
.comment__local {
  margin-right: 6px;
}
.comment__dot {
  margin-right: 6px;
}
.comment__day {
  margin-right: 0;
}
.bar {
  cursor: pointer;
  width: 599px;
  height: 8px;
  background: #F5F7F6;
  border: 0.5px solid rgba(254, 189, 171, 0.74);
  border-radius: 5px;
  margin: 21px auto 31px auto;
  position: relative;
}
.bar:hover .bar__progress {
  opacity: 1;
}
.bar__progress {
  opacity: 0;
  position: absolute;
  top: 0.5px;
  left: 0;
  width: 115.19px;
  height: 6px;
  background: #FE9013;
  z-index: 10;
  border-radius: 5px;
  transition: opacity 1s ease-in;
}

.footer {
  background: #111115;
  max-height: 443px;
  padding: 41px 0 50px 0;
}
.footer__header {
  display: flex;
  margin-bottom: 36px;
}
.footer__form {
  margin-left: 711px;
  flex: 1 1 auto;
}
.footer__button {
  margin-bottom: 44px;
}
.footer__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer__menu {
  margin-left: 298px;
}
.footer__info {
  margin-left: 160px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #FFFFFF;
  cursor: pointer;
}
.footer__info:hover {
  color: #4B9200;
  text-decoration: underline;
}
.footer__designby {
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 10px;
}
.footer__copy {
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 0;
}

.subscribe__title {
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.subscribe__form {
  display: flex;
}
.subscribe__email {
  flex: 0 1 228px;
  padding: 10px 0 10px 10px;
  border: 0.7px solid rgb(249, 128, 75);
  border-radius: 2px;
  background: #FFFFFF;
}
.subscribe__button {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F1F3F2;
  border: 1px solid rgb(51, 59, 65);
  border-radius: 5px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.socials__item {
  position: relative;
  padding-left: 38px;
  margin-bottom: 13px;
}
.socials__item:last-child {
  margin-bottom: 0;
}
.socials__item::before {
  content: "";
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -4px;
}
.socials__item_facebook::before {
  background-image: url(../../img/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__item_twitter::before {
  background-image: url(../../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__item_instagram::before {
  background-image: url(../../img/insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__item_youtube::before {
  background-image: url(../../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__link {
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.socials__link:hover {
  text-decoration: underline;
  color: #4B9200;
}