@media (max-width: 1480px) {
    .backstage {
        &__flower {
            display: none;
        }
    }
}


@media (max-width: 1350px) {
    .pets {
        padding-bottom: 140px;

        &__body {
            height: 944px;
        }
        &__cards {
            row-gap: 92px;
            column-gap: 29px;
        }

        &__arrow_left {
            left: 35%;
        }

        &__arrow_right {
            right: 35%;
        }

        &__arrow {
            top: 41%;
        }
    }
}


@media (max-width: 1176px) {
    .backstage {
        &__content {
            margin-left: 20px;
        }
    }
}
