@media (max-width: 1156px) {
    .pets {
        &__body {
            width: 780px;
            height: 950px;
            margin-bottom: 60px;
        }
        &__cards {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 1000px) {
    ._container {
        max-width: 970px;
    }

    .menu {
        &__item {
            margin-right: 48px;
        }
    }

    .main-block {
        background-image: url("/img/background_panda_small.png");
        &__content {
            padding-top: 42px;
            padding-bottom: 47px;
        }
        &__title {
            &::before {
                width: 367px;
                height: 367px;
                top: -53.8px;
                left: 0px;
            }
        }

        &__text {
            font-size: 85px;
        }

        &__button {
            margin-top: 42px;
        }
    }

    .backstage {
        &__flower {
            display: none;
        }
    
        &__container {
            padding-top: 0px;
            padding-bottom: 52px;
        }
    
        &__img {
            flex: 0 0 455px;
            height: 405px;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }  
        &__content {
            margin-left: 31px;
        } 
        &__subtitle {
            margin: 52px 0 32px 0;
        }
    }

    .pets {
        &__palm {
            left: -15px;
            width: 194px;
            height: 200px;
        }
        &__strelitzia {
            width: 241px;
            height: 180px;
        }

        &__arrow {
            &_left {
                left: 40%;
            }
            &_right {
                right: 40%;
            }
        }
    }
    
    .pick-and-feed {
        padding: 30px 0 50px 0;
        &__container {
            padding: 30px 48px 50px 48px;
        }
    
        &__title {
            margin-bottom: 20px;
        }
    
        &__subtitle {
            margin-bottom: 20px;
            padding-left: 0;
        }
    
        &__subsubtitle {
            padding-left: 0;
        }
    
        &__text {
            padding-left: 0;
        }

        &__how {
            margin: 40px 0 70px 0;
        }
    }

    .testimonials {
        padding: 100px 0 140px 0;
        &__title {
            margin-bottom: 30px;
        }
        &__leaf {
            width: 170.98px;
            height: 310.62px;
            position: absolute;
            right: 0;
            bottom: -80px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__button {
            margin-left: 0;
        }
    }


    .footer {
        &__container {
            padding-left: 30px;
        }
        &__footer {
            justify-content: space-between;
        }
        &__menu {
            flex: 0 1 380px;
            margin-left: 15%;
        }
    }

    .subscribe {
        &__button {
            flex: 0 1 129px;
        }
    }
}


@media (max-width: 973px) {
    .testimonials { 
        padding: 60px 0 90px 0;

        &__title {
            font-size: 47px;
        }
        &__slider {
            height: 340px;
            overflow: scroll;
            margin-bottom: 40px;
        }
        &__row {
            flex-direction: column;
            gap: 13px;
        }

        &__column {
            flex: 0 0 102px;
            max-height: 102px;
            overflow: hidden;
        }

        &__bar {
            display: none;
        }

        &__button {
            align-self: center;
        }
    }
}
@media (max-width: 740px) {
    .header {
        &__menu {
            margin-left: 40px;
        }
    }

    .menu {
        &__item {
            margin-right: 30px;
        }
    }
}




