//Import Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);

//Import Reset Styles file
@import "../reset";

//Main 
body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    background-color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1160px;
    margin: 0 auto;
}

.title {
    font-family: 'Roboto';
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    display: inline-block;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    position: relative;

    &__image {
        position: absolute;
        width: 14.81px;
        height: 22.58px;
        left: 8px;
        top: 18.64px;
    }
}

.copy {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF
}

//========HEADER===========================================================
.header {
    width: 100%;
    left: 0px;
    top: 0px;
    background: #000000;

    &__container {
        display: flex;
        min-height: 80px;
        align-items: center;
    }

    &__logo {
    }

    &__menu {
        margin-left: 63px;
    }

    &__copy {
        margin-left: 438px;
    }
}

.menu {

    &__list {
        display: flex;

    }

    &__item {
        margin-right: 58px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;

        &:hover {
            text-decoration: underline;
        }

        &_active {
            &:hover {
                text-decoration: none;
            }
            color:#F9804B;
        }
    }
}

//=============MAIN================================

//=========MAIN-BLOCK==============================
.page {

    &__main-block {
    }
}
.main-block {
    
    background-image: url("/sh4kh-JSFE2022Q3/online-zoo/img/background_panda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
    }

	&__content {
        padding-top: 86px;
        margin-left: 648px;
        padding-bottom: 100px;
        width: 531px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
	}

    &__title {
        position: relative;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            width: 465px;
            height: 465px;
            top: -76px;
            left: -70px;
            border-radius: 50%;
            /* orange */
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        }
    }

	&__text {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 106.496px;
        line-height: 75%;
        /* or 80px */            
        text-transform: uppercase;
        color: #FFFFFF;

        & span {
            color: #FFEE2E
        }

        position: relative;
        z-index: 10;
	}

	&__button {
        margin-top: 60px;
	}
}


.button {
    background: orange;
    border-radius: 25px;
    min-height: 54px;
    width: 298px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        transition: background-color 0.5s linear;
    }

    &_square {
        border-radius: 5px;
    }
}


//=========BACKSTAGE==========
.page {

    &__backstage {
    }
}
.backstage {

    position: relative;

    &__flower {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__container {
        padding-top: 140px;
        padding-bottom: 180px;

        display: flex;
    }

    &__img {
        flex: 0 0 609px;
    }

    &__content {
        flex: 1 1 auto;
        margin-left: 87px;
        color: #333B41;
    }

    &__title {
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 130%;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 120%;
        margin: 54px 0 34px 0;
    }

    &__text {
    }
}


//======ANIMALS===========
.page {

    &__animals {
    }
}
.animals {

    &__container {
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: -82px;
            top: 350px;
            width: 62px;
            height: 62px;
            background-color: orange;
            background-image: url(../../img/left_arrow.png);
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            cursor: pointer;
        }
        &::after {
            content: '';
            position: absolute;
            right: -82px;
            top: 350px;
            width: 62px;
            height: 62px;
            background-color: orange;
            border-radius: 50%;
            background-image: url(../../img/right__arrow.png);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }

    &__column {
        padding: 0 15px;
        flex: 0 1 33.333%;
        margin-bottom: 20px;
    }

    &__item {
        border: 1px solid #FA6F32;
        border-radius: 5px;
    }

    &__button {
        margin:  80px auto 100px auto;
    }
}

.animal {
    position: relative;
    &:hover  &__info {
        opacity: 1;
    }
    &:hover  &__image_bg {
        opacity: 1;
    }
    &__image {
        position: relative;
        &_bg {
            height: 302.66px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color:rgba(0, 0, 0, 0.379);
            z-index: 1;
            opacity: 0;
        }
        overflow: hidden;
        &:hover img {
            transform: scale(1.1);
            transition: 200ms linear;
        }
    }

    &__info {
        background-color: #FFFFFF;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px 13px 16px;
        opacity: 0;

        transition: opacity 0.5s ease;


    }

    &__text {
        color: #000000;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        text-transform: uppercase;
    }

    &__home {
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
    }

    &__logo {
    }
}


//=============PICK AND FEED==================
.page {

    &__pick-and-feed {
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        opacity: 0.9;
    }
}
.pick-and-feed {

    padding: 69px 0 100px 0;

    &__container {
        background: rgba(253, 253, 255, 0.52);
        border-radius: 20px;
        padding: 49px 0 59px 0;
        text-align: center;
    }

    &__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        /* identical to box height, or 58px */
        color: #FE9013;
        margin-bottom: 30px;
        text-align: center;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 120%;
        /* identical to box height, or 29px */
        color: #333B41;
        margin-bottom: 40px;
        margin-left: 99px;
        text-align: left;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        /* or 21px */
        color: #333B41;
        margin-left: 99px;
        margin-bottom: 10px;
        text-align: left;

        & a {
            color: inherit;
            text-decoration: underline;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__how {
        margin: 60px 198px;
    }

    &__button {
        margin: 0 auto;
    }
}
.how {


    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        /* identical to box height, or 47px */
        color: #333B41;
        margin-bottom: 40px;
    }

    &__row {
        display: flex;
        align-self: center;
    }

    &__column {
        flex: 1 1 20%;
    }

    &__item {

    }

    &__image {
        height: 168px;
        border: 1px solid #F9804B;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        text-align: left;
    }

    &__arrow {
        padding-top: 67px;
    }
}


//==================TESTIMONIALS======================
.page {

    &__testimonials {
    }
}
.testimonials {
    position: relative;

    padding: 140px 0 180px 0;

    &__container {
    }

    &__title {
        font-size: 36px;
        line-height: 130%;
        /* identical to box height, or 47px */

        text-align: center;

        color: #333B41;
        margin-bottom: 47px;
    }

    &__row {
        display: flex;
        margin: 0 -15px;
    }

    &__column {
        flex: 1 1 25%;
        padding: 0 15px;
    }

    &__item {
        background: #F1F3F2;
        border-radius: 20px;
        border: 2px solid rgba(254, 189, 171, 0.74);
        padding: 15px;
    }

    &__bar {
    }

    &__button {
    }

    &__leaf {
        position: absolute;
        right: 0;
        bottom: -100px;
    }
}
.comment {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;

    &__header {
        display: flex;
        margin-bottom: 10px;
    }

    &__logo {
        flex: 0 0 37px;
    }

    &__title {
        margin-left: 10px;
        flex: 1 1 auto;
    }

    &__name {
        font-size: 16px;
        line-height: 120%;
        font-weight: 400;
        color: #000000;
    }

    &__subtitle {
        display: flex;
        justify-content: start;   
    }

    &__local {
        margin-right: 6px;
    }

    &__dot {
        margin-right: 6px;
    }

    &__day {
        margin-right: 0;
    }

    &__text {
    }
}
.bar {
    cursor: pointer;
    width: 599px;
    height: 8px;
    background: #F5F7F6;
    border: 0.5px solid rgba(254, 189, 171, 0.74);
    border-radius: 5px;
    margin: 21px auto 31px auto;
    position: relative;

    &:hover &__progress {
        opacity: 1;
    }

    &__progress {
        opacity: 0;
        position: absolute;
        top: 0.5px;
        left: 0;
        width: 115.19px;
        height: 6px;
        background: #FE9013;
        z-index: 10;
        border-radius: 5px;

        transition: opacity 1s ease-in;
    }
}


//==============FOOTER============
.footer {

    background: #111115;
    max-height: 443px;
    padding: 41px 0 50px 0;

    &__container {
    }

    &__header {
        display: flex;
        margin-bottom: 36px;
    }

    &__logo {
    }

    &__form {
        margin-left: 711px;
        flex: 1 1 auto;
    }

    &__button {
        margin-bottom: 44px;
    }

    &__footer {
        display: flex;
        align-items: flex-end;
    }

    &__socials {
    }

    &__menu {
        flex: 1 1 auto;
        margin-left: 298px;
    }

    &__info {
        flex: 0 1 230px;
        display: inline-block;
        line-height: 130%;
        /* identical to box height, or 21px */
        color: #FFFFFF;
        cursor: pointer;
        &:hover {
            color: #4B9200;
            text-decoration: underline;
        }
    }

    &__designby {
        display: inline-block;
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 10px;

    }

    &__copy {
        display: inline-block;
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 0;
    }
}

.subscribe {
    
    &__title {
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 14px;
    }

    &__form {
        display: flex;
    }

    &__email {
        flex: 0 1 228px;
        padding: 10px 0 10px 10px;
        border: 0.7px solid rgba(249, 128, 75, 1);
        border-radius: 2px;
        background: #FFFFFF;
    }

    &__button {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F1F3F2;
        border: 1px solid rgba(51, 59, 65, 1);
        border-radius: 5px;
        margin-left: 10px;
        font-size: 16px;
        line-height: 140%;
        color: #000000;;
    }
}

.socials {



    &__list {
    }

    &__item {
        position: relative;
        padding-left: 38px;
        margin-bottom: 13px;
        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: '';
            width: 26px;
            height: 26px;
            background: rgba(196, 196, 196, 0.5);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: 0;
            top: -4px;
        }

        &_facebook::before {
            background-image: url(../../img/facebook.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_twitter::before {
            background-image: url(../../img/twitter.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_instagram::before {
            background-image: url(../../img/insta.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_youtube::before {
            background-image: url(../../img/youtube.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        
    }

    &__link {
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;

        &:hover {
            text-decoration: underline;
            color: #4B9200;
        }
    }
}




