//Import Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);

//Import Reset Styles file
@import "../reset";

//Main 
body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    background-color: #FFFFFF;

    &._active {
        overflow: hidden;
    }
}

.background_dark {
    display: none;
    width: 100%;
    height: 4000px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 20;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

._container {
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: 'Roboto';
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    display: inline-block;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    position: relative;

    &__image {
        position: absolute;
        width: 14.81px;
        height: 22.58px;
        left: 8px;
        top: 18.64px;

        &_orange {
            display: none;
        }
    }
}

.copy {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color:#F9804B;
        text-decoration: none;
    }
}

.burger {
    display: none;
}

//========HEADER===========================================================
.header {
    width: 100%;
    left: 0px;
    top: 0px;
    background: #000000;
    position: relative;
    z-index: 22;

    

    &__container {
        display: flex;
        min-height: 80px;
        align-items: center;
    }

    &__logo {
    }

    &__menu {
        margin-left: 63px;
    }
}

.menu {
    display: flex;
    flex: 0 1 1021px;
    justify-content: space-between;
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 58px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            color:#F9804B;
            text-decoration: none;
        }

        &_active {
            &:hover {
                text-decoration: none;
            }
            color:#F9804B;
        }
    }
}

//=============MAIN================================

//=========MAIN-BLOCK==============================
.page {

    &__main-block {
    }
}
.main-block {
    
    background-image: url("/img/background_panda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    &__container {
        display: flex;
        justify-content: flex-end;
    }

	&__content {
        padding-top: 86px;
        padding-bottom: 100px;
        width: 531px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
	}

    &__title {
        position: relative;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            width: 465px;
            height: 465px;
            top: -76px;
            left: -60px;
            border-radius: 50%;
            /* orange */
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        }
    }

	&__text {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 106.496px;
        line-height: 75%;
        /* or 80px */            
        text-transform: uppercase;
        color: #FFFFFF;

        & span {
            color: #FFEE2E
        }

        position: relative;
        z-index: 10;
	}

	&__button {
        margin-top: 60px;
	}
}


.button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
    border-radius: 25px;
    min-height: 54px;
    width: 298px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
        background: #E47209;
    }

    &:active {
        background: #4B9200;
    }


    &_square {
        border-radius: 5px;
    }
}


//=========BACKSTAGE==========
.page {

    &__backstage {
    }
}
.backstage {

    position: relative;

    &__flower {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__container {
        padding-top: 140px;
        padding-bottom: 90px;

        display: flex;
    }

    &__img {
        flex: 0 0 609px;
    }

    &__content {
        flex: 1 1 auto;
        margin-left: 87px;
        color: #333B41;
    }

    &__title {
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 130%;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 120%;
        margin: 54px 0 34px 0;
    }

    &__text {
    }
}


//======PETS===========
.page {
    &__pets {
    }
}

.pets {
    position: relative;
    padding: 90px 0 100px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__body {
        margin-bottom: 80px;
        overflow: hidden;
        position: relative;
        width: 1158px;
        height: 872px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        column-gap: 30px;
        min-width: 100%;
        
        transition: all 1s ease;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__item {
    }
    //====MAIN BUTTON======
    &__button {
    }

    //====SLIDER BUTTONS=========
    &__arrow {
        position: absolute;
        top: 40%;
        display: block;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        
        & img {
            vertical-align: middle;
        }
        &_left {
            left: -80px;
        }
        &_right {
            right: -80px;
        }

        &:active {
            background: #4B9200;
        }
    }
}

//========PET CARD========================
.pet {
    max-width: 366px;
    max-height: 426px;
    border: 1px solid rgba(250, 111, 50, 1);
    border-radius: 5px;
    overflow: hidden;
    


    &__image {
        position: relative;
        overflow: hidden;
        
        

        &:hover img {
            transform: scale(1.05);
            transition: 200ms linear;
        }

        & img {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        &_popup {
            position: absolute;
            bottom: 0;
            left: 30%;
            z-index: 3;
            transition: all 0.8s ease;
            
        }
        &_bg {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.379);
            z-index: 1;
            opacity: 0;
        }

        &:hover &_bg {
            opacity: 1;
            transition: opacity 0.7s ease;
        }

        &:hover &_popup {
            transform: translateY(-110px);
            opacity: 1;
            
            
            
            
           
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 8px 13px 14px 16px;
    }

    &__info {
        color: #000000;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
    }

    &__native {
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
    }

    &__food {
    }
}

.pet-popup {
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    padding: 8px 12px 15px 10px;
    opacity: 0;
    &__button {
        padding: 4px 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #F1F3F2;
        border-radius: 5px;
        margin-top: 11px;
        color: #4B9200;
    }
}
//======PLANTS ON PETS PAGE===================
.pets__palm {
    position: absolute;
    bottom: 0; 
    left: 0;
    img {
        height: 100%;
        width: 100%;
    }
}

.pets__strelitzia {
    position: absolute;
    bottom: 0; 
    right: 0;
}





//=============PICK AND FEED==================
.page {
    &__pick-and-feed {
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        opacity: 0.9;
    }
}
.pick-and-feed {

    padding: 69px 0 100px 0;
    
    &__container {
        background: rgba(253, 253, 255, 0.52);
        border-radius: 20px;
        padding: 49px 0 59px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        /* identical to box height, or 58px */
        color: #FE9013;
        margin-bottom: 30px;
        text-align: center;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 120%;
        /* identical to box height, or 29px */
        color: #333B41;
        margin-bottom: 40px;
        text-align: left;
        padding-left: 99px;
    }

    &__subsubtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #333B41;
        margin-bottom: 10px;
        text-align: left;
        padding-left: 99px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        /* or 21px */
        color: #333B41;
        margin-bottom: 10px;
        text-align: left;
        padding-left: 99px;
        padding-right: 68px;

        & a {
            color: inherit;
            text-decoration: underline;
            text-decoration-color: orange;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__how {
        margin: 60px 0;
    }

    &__button {
        margin: 0 auto;
    }
}
.how {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        /* identical to box height, or 47px */
        color: #333B41;
        margin-bottom: 40px;
    }

    &__row {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    &__column {
        flex: 0 1 168px;

        &_arrow {
            flex: 0 1 130px;
        }
    }

    &__item {

    }

    &__image {
        height: 168px;
        border: 1px solid #F9804B;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        text-align: left;
    }

    &__arrow {
        padding-top: 63px;
        &_green {
            display: none;
        }
    }
}


//==================TESTIMONIALS======================
.page {

    &__testimonials {
    }
}
.testimonials {
    position: relative;

    padding: 140px 0 180px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 36px;
        line-height: 130%;
        /* identical to box height, or 47px */

        text-align: center;

        color: #333B41;
        margin-bottom: 47px;
    }

    &__slider {
        margin: 0 -15px;
        overflow: hidden;
        width: 100%;
        height: 402px;
        max-width: 1190px;
        max-height: 500px;
        position: relative;
    }
    &__row {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        transition: left 0.5s linear;
    }

    &__column {
        flex: 0 0 290px;
        padding: 0 15px;
        display: flex;
    }

    &__item {
        background:  #F1F3F2;
        border-radius: 20px;
        padding: 15px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 20px;
            border: 2px solid transparent;
            background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
            -webkit-mask: linear-gradient(#f1f3f2 0 0) padding-box, linear-gradient(#f1f3f2 0 0);
            -webkit-mask-composite: destination-out;
        }

    }

    &__bar {
    }

    &__button {
        align-self: flex-start;
    }

    &__leaf {
        position: absolute;
        right: 0;
        bottom: -100px;
    }
}
.comment {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;

    &__header {
        display: flex;
        margin-bottom: 10px;
    }

    &__logo {
        flex: 0 0 37px;
    }

    &__title {
        margin-left: 10px;
        flex: 1 1 auto;
    }

    &__name {
        font-size: 16px;
        line-height: 120%;
        font-weight: 400;
        color: #000000;
    }

    &__subtitle {
        display: flex;
        justify-content: start;   
    }

    &__local {
        margin-right: 6px;
    }

    &__dot {
        margin-right: 6px;
    }

    &__day {
        margin-right: 0;
    }

    &__text {
    }
}

input[type=range]  {
    margin: 30px auto;
    width: 600px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 7px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    border-radius: 20px;
    border: 1px solid pink;
    border-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%) border-box;
  }

  input[type=range]::-webkit-slider-thumb {
    background: orange;
    cursor: pointer;
    border-radius: 20px;
    width: 116px;
    height: 6px;
    -webkit-appearance: none;
  }

//==============FOOTER============
.footer {

    background: #111115;
    max-height: 443px;
    padding: 41px 0 50px 0;

    &__container {
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
    }

    &__logo {
    }

    &__form {
        flex: 0 1 367px;
    }

    &__button {
        margin-bottom: 44px;
    }

    &__footer {
        display: flex;
        align-items: flex-end;
    }

    &__socials {
    }

    &__menu {
        flex: 1 1 380px;
        margin-left: 298px;
    }

    &__info {
        flex: 0 1 230px;
        display: inline-block;
        line-height: 130%;
        /* identical to box height, or 21px */
        color: #FFFFFF;
        cursor: pointer;
        &:hover {
            color: #4B9200;
            text-decoration: underline;
        }
        margin-left: 5px;
    }

    &__designby {
        display: inline-block;
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 10px;

    }

    &__copy {
        display: inline-block;
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 0;
    }
}

.subscribe {
    
    &__title {
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 14px;
    }

    &__form {
        display: flex;
    }

    &__email {
        display: block;
        flex: 0 1 228px;
        padding: 10px 0 10px 10px;
        border: 0.7px solid rgba(249, 128, 75, 1);
        border-radius: 2px;
        background: #FFFFFF;

        &:invalid + .subscribe__button {
            border: 0.7px solid red;
            color: red;
        }
        &:valid + .subscribe__button {
            border: 1px solid rgba(51, 59, 65, 1);
            color: #000000
        }
    }

    &__button {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(51, 59, 65, 1);
        border-radius: 5px;
        margin-left: 10px;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        background: #F1F3F2;
    }
}


.socials {



    &__list {
    }

    &__item {
        position: relative;
        padding-left: 38px;
        margin-bottom: 13px;
        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: '';
            width: 26px;
            height: 26px;
            background: rgba(196, 196, 196, 0.5);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: 0;
            top: -4px;
        }

        &_facebook::before {
            background-image: url(../../img/facebook.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_twitter::before {
            background-image: url(../../img/twitter.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_instagram::before {
            background-image: url(../../img/insta.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &_youtube::before {
            background-image: url(../../img/youtube.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        
    }

    &__link {
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;

        &:hover {
            text-decoration: underline;
            color: #4B9200;
        }
    }
}

.socials-mobile {
    display: none;
}

@import "adaptiveDesktop";
@import "smallDesktop";
@import "tablet";
@import "mobile";





